<strong>Olá, {{deliveryman}}</strong>
<p>Uma nova entrega foi atribuída à você, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{recipient}} <br />
  <strong>Data/hora: </strong> {{date}} <br />
  <strong>Produto: </strong> {{product}} <br />
  {{!-- <br />
  <small>
    O horário esta novamente disponível para novos agendamentos.
  </small> --}}
</p>
